.container
{
    position: relative;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 10px;
    border: none;
    display: flex;
}

.content
{
    margin: 30px 34px 30px 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    color: #6B7280;
    font-size: 0.9em;
}

.content header > h2
{
    font-weight: 600;
    color: black;
    margin-bottom: 0.2em;
}
