.container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: transparent;
    gap: 10px;
}

.content
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    border-radius: 10px;
    border: none;
    padding: 18px 14px;
    width: 719px;
    color: black;
}

.title{
    font-size: 1.2em;
    margin-bottom: 20px;
}

.comment{
    font-size: 1em;
}

input.comment{
    border: none;
    background-color: transparent;
    color: black;
    width: 100%;
}

.date{
    color: #6B7280;
    font-size: 0.8em;
    position: absolute;
    right: 10px;
}

.user{
    border:1px solid white;
}