.tasksList{
    padding: 20px 50px;
}
.tasksList > *{
   margin-bottom: 20px;
}

.tasksHeader{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}


.tasksHeader > :nth-child(2) { /* aligne les autres elements à droite (à partir du 2eme) */
  margin-left: auto;
}